{% extends 'base.html' %}
{% block content %}



<h1>Boggle Board</h1>

<table id="gameboard">
    {% for row in board %}
    <tr>
        {% for cell in row %}
        <td id="letter">{{cell}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<h2>PLEASE MAKE YOUR GUESSTIMATION:</h2>
<form id="guess" name="guess">
    <label>Guess:</label><input type="text" id="guess_input" name="guess_input">
    <button>Submit Guess</button>
</form>

<h3 id="validation_message" name="validation_message"></h3>
<h4 id="score">0</h4>

<h1 id="timer">0</h1>
<h3>You have played {{game_counter}} times</h3>
<h3>Top Score:</h3>
<h4 id="top_score"></h4>






<script src="/static/app.js"></script>
<script src="/static/timer.js"></script>

{% endblock %}